@model WydatkiDomoweWeb.WebUI.Models.CrudBillsNamesViewModel

<table class="table table-striped table-condensed table-bordered table-getbill">
    <tr>
        <th class="col-md-2">Rachunek</th>
        <th class="col-md-2">Odbiorca</th>
        <th class="col-md-1">Cena</th>
        <th class="col-md-2">Data wpłaty</th>
        <th class="col-md-2">Termin zapłaty</th>
    </tr>

    @foreach (var bill in Model.Bills)
    {
        <tr>
            <td>@Html.DisplayFor(m => bill.BillName)</td>
            <td>@Html.DisplayFor(m => bill.Recipient)</td>
            <td>@Html.DisplayFor(m => bill.Amount)</td>
            <td>@Html.DisplayFor(m => bill.PaymentDate)</td>
            <td>@Html.DisplayFor(m => bill.RequiredDate)</td>            
        </tr>
    }
 </table>
<div class="modal-footer">
    @using (Ajax.BeginForm("DeleteBillName", "CrudBillsNames", Model , new AjaxOptions { UpdateTargetId = "billsNamesTable", OnSuccess = "hideModal()" }, new { @class = "form-group" }))
    {        
        <input class="btn btn-primary" type="submit" value="Usuń" />
    }
    <button type="button" class="btn btn-default" data-dismiss="modal"> Anuluj</button>
</div>
