@model WydatkiDomoweWeb.WebUI.Models.BillNameViewModel

@Scripts.Render("~/bundles/validation")

@using (Html.BeginForm("EditBillName", "CrudBillsNames"))
{
    <table class="table table-addItem">
        <tr class="col-md-8">
           <td style="width:130px">
                @Html.HiddenFor(m => m.BillNameId)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = "15", @readonly = "readonly", data_val = "false" })
            </td>
            <td style="width:130px">
                @Html.TextBoxFor(m => m.FirstPaymentDate, new { @class = "form-control", id = "firstPaymentDate", placeholder = "Pierwsza wpłata" })
                @Html.ValidationMessageFor(m => m.FirstPaymentDate)
            </td>
            <td style="width:130px">
                @Html.TextBoxFor(m => m.PaymentsFerquency, new { @class = "form-control", placeholder = "Częstotliwość"})
                @Html.ValidationMessageFor(m => m.PaymentsFerquency)
            </td>
            <td style="width:140px">
                <input class="btn btn-primary" type="submit" value="Zapisz" />
                <input class="btn btn-primary" type="button" value="Anuluj" onclick="undoToDefaultAddItem()" />
            </td>
        </tr>
    </table>  
}