@model WydatkiDomoweWeb.WebUI.Models.FilterBillViewModel


@using (Ajax.BeginForm("FilterPost", "Home", new AjaxOptions { UpdateTargetId = "homeBillTable"}, new { @class = "form-inline" }))
{
    for (int i = 0; i < Model.CheckboxItems.Count(); i++)
    {
        <label class="checkbox-inline">
            @Html.CheckBoxFor(m => m.CheckboxItems[i].IsChecked)
            @Html.HiddenFor(m => m.CheckboxItems[i].Name)
            @Html.DisplayFor(m => m.CheckboxItems[i].Name)
        </label>
    }
    
    <div style="position: relative" class="form-group">
        @Html.TextBoxFor(m => m.MinDate, new { @class = "form-control", id = "datetimepickerMin", Value = @Model.MinDate })
         @Html.ValidationMessageFor(m => m.MinDate)
    </div>
    <div style="position: relative" class="form-group">
        @Html.TextBoxFor(m => m.MaxDate, new { @class = "form-control", id = "datetimepickerMax", Value = @Model.MaxDate})
        @Html.ValidationMessageFor(m => m.MaxDate)
    </div>
        
    <input class="btn btn-primary" type="submit" value="Filtruj" />
}