@model WydatkiDomoweWeb.WebUI.Models.BillsViewModel

@if (TempData["ChangedBills"] != null) 
{
    <div class="alert alert-success">@TempData["ChangedBills"]</div>
}
 <table class="table table-striped table-condensed table-bordered table-getbill">
    <tr>
        <th class="col-md-2">Rachunek</th>
        <th class="col-md-2">Odbiorca</th>
        <th class="col-md-1">Cena</th>
        <th class="col-md-2">Data wpłaty</th>
        <th class="col-md-2">Termin zapłaty</th>
        <th class="col-md-1">Akcja</th>
    </tr>


    @foreach (var bills in Model.Bills)
    {
        <tr>
            <td>@Html.DisplayFor(m => bills.BillName)</td>
            <td>@Html.DisplayFor(m => bills.Recipient)</td>
            <td>@Html.DisplayFor(m => bills.Amount)</td>
            <td>@Html.DisplayFor(m => bills.PaymentDate)</td>
            <td>@Html.DisplayFor(m => bills.RequiredDate)</td>
            <td class="form-inline">                    
                @using (Ajax.BeginForm("EditBill", "CrudBills", null, new AjaxOptions { UpdateTargetId = "addBill", HttpMethod = "Get", OnSuccess = "setDefaultDateTimePicker(\"paymentDate\")" }, new { @class = "form-group" }))
                {
                    @Html.Hidden("BillId", bills.Id)
                    <input class="btn btn-default btn-xs" type="submit" value="Edytuj"/>
                }
                
                @using (Ajax.BeginForm("DeleteBill", "CrudBills", null, new AjaxOptions { Confirm = "Chcesz usunąć element", UpdateTargetId = "billsTable"}, new { @class = "form-group" }))
                {
                    @Html.Hidden("BillId", bills.Id)
                    @Html.Hidden("BillName", bills.BillName)
                    <input class="btn btn-default btn-xs" type="submit" value="Usuń"/>
                }
            </td>
        </tr>
    }
</table>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetBills", new { page = x }), new AjaxOptions { UpdateTargetId = "billsTable" })
</div>

