@model WydatkiDomoweWeb.WebUI.Models.BillViewModel

 <table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Rachunek</th>
        <th>Odbiorca</th>
        <th>Cena</th>
        <th>Data wpłaty</th>
        <th>Termin zapłaty</th>
        <th>Akcja</th>
    </tr>


    @foreach (var bills in Model.Bills)
    {
        <tr>
            <td>@Html.DisplayFor(m => bills.BillName)</td>
            <td>@Html.DisplayFor(m => bills.Recipient)</td>
            <td>@Html.DisplayFor(m => bills.Amount)</td>
            <td>@Html.DisplayFor(m => bills.PaymentDate)</td>
            <td>@Html.DisplayFor(m => bills.RequiredDate)</td>
            <td>
                @using (Ajax.BeginForm("DeleteBill", "CrudBill", new AjaxOptions { UpdateTargetId = "homeBillTable" }))
                {
                    @Html.Hidden("Id", bills.Id)
                    <input class = "btn btn-default btn-xs" type="submit" value="Usuń" />
                }   
            </td>
        </tr>
    }

</table>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetBill", new { page = x }), new AjaxOptions { UpdateTargetId = "homeBillTable" })
</div>

