@model WydatkiDomoweWeb.WebUI.Models.BillViewModel

 <table class="table table-striped table-condensed table-bordered">
    <tr>
        <th class="col-md-2">Rachunek</th>
        <th class="col-md-2">Odbiorca</th>
        <th class="col-md-1">Cena</th>
        <th class="col-md-2">Data wpłaty</th>
        <th class="col-md-2">Termin zapłaty</th>
        <th class="col-md-1">Akcja</th>
    </tr>


    @foreach (var bills in Model.Bills)
    {
        <tr>
            <td>@Html.DisplayFor(m => bills.BillName)</td>
            <td>@Html.DisplayFor(m => bills.Recipient)</td>
            <td>@Html.DisplayFor(m => bills.Amount)</td>
            <td>@Html.DisplayFor(m => bills.PaymentDate)</td>
            <td>@Html.DisplayFor(m => bills.RequiredDate)</td>
            <td class="form-inline">                    
                @using (Ajax.BeginForm("EditBill", "CrudBill", null, new AjaxOptions { UpdateTargetId = "homeEditBill", HttpMethod = "Get", OnSuccess = "configureEditBill" }, new { @class = "form-group" }))
                {
                    @Html.Hidden("Id", bills.Id)
                    <input class="btn btn-default btn-xs" type="submit" value="Edytuj"/>
                }
                
                @using (Ajax.BeginForm("DeleteBill", "CrudBill", null, new AjaxOptions { UpdateTargetId = "homeBillTable" }, new { @class = "form-group" }))
                {
                    @Html.Hidden("Id", bills.Id)
                    <input class="btn btn-default btn-xs" type="submit" value="Usuń"/>
                }
            </td>
        </tr>
    }
</table>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetBill", new { page = x }), new AjaxOptions { UpdateTargetId = "homeBillTable" })
</div>

