@model WydatkiDomoweWeb.WebUI.Models.CrudBillsViewModel

@Scripts.Render("~/bundles/validation")

@using (Html.BeginForm("AddBill", "CrudBills"))
{
    <table class="table table-addbill">
        <tr class="col-md-12">
            <td>
                @Html.DropDownListFor(m => m.SelectedBillNameId, new SelectList(Model.Bills, "Id", "Name"), "Wybierz rachunek", new { @class = "form-control", id = "selectBill" })
                @for (int i = 0; i < Model.Bills.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Bills[i].Name)
                    @Html.HiddenFor(m => m.Bills[i].Id)
                    @Html.HiddenFor(m => m.Bills[i].Date, new { id = Model.Bills[i].Id })
                }
                @Html.ValidationMessageFor(m => m.SelectedBillNameId)
            </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedRecipientId, new SelectList(Model.Recipients, "Value", "Text"), "Wybierz odbiorcę", new { @class = "form-control" })
                @for (int i = 0; i < Model.Recipients.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Recipients[i].Text)
                    @Html.HiddenFor(m => m.Recipients[i].Value)
                }
                @Html.ValidationMessageFor(m => m.SelectedRecipientId)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", placeholder = "Kwota", Value = "" })
                @Html.ValidationMessageFor(m => m.Amount)
            </td>
            <td>
                @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", id = "paymentDate", placeholder = "Data wpłaty" })
                @Html.ValidationMessageFor(m => m.PaymentDate)
            </td>
            <td>
                @Html.TextBoxFor(m => m.RequiredDate, new { @class = "form-control", id = "requiredDate", placeholder = "Termin zapłaty", Value = ""})
            </td>
            <td>
                <input class="btn btn-primary" type="submit" value="Zapisz" />
                <input class="btn btn-primary" type="button" value="Anuluj" onclick="undoToDefaultAddBill()" />
            </td>
        </tr>
    </table>  
}
