@model WydatkiDomoweWeb.WebUI.Models.CrudBillsViewModel

@Scripts.Render("~/bundles/validation")

@using (Html.BeginForm("EditBill", "CrudBills"))
{
    <table class="table table-addItem">
        <tr>
            <td>
                @Html.HiddenFor(m => m.BillId)
                @Html.HiddenFor(m => m.SelectedBillNameId)
                @Html.TextBoxFor(m => m.BillName, new { @class = "form-control", @readonly = "readonly" })
            </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedRecipientId, new SelectList(Model.Recipients, "Value", "Text"), "Wybierz odbiorcę", new { @class = "form-control" })
                @for (int i = 0; i < Model.Recipients.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Recipients[i].Text)
                    @Html.HiddenFor(m => m.Recipients[i].Value)
                }
                @Html.ValidationMessageFor(m => m.SelectedRecipientId)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Amount, "{0:f}", new { @class = "form-control", placeholder = "Kwota" })
                @Html.ValidationMessageFor(m => m.Amount)
            </td>
            <td>
                @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", id = "paymentDate", placeholder = "Data wpłaty" })
                @Html.ValidationMessageFor(m => m.PaymentDate)
            </td>
            <td>
                @Html.TextBoxFor(m => m.RequiredDate, new { @class = "form-control", @readonly = "readonly" })
            </td>
            <td>
                <input class="btn btn-primary" type="submit" value="Zapisz" />
                <input class="btn btn-primary" type="button" value="Anuluj" onclick="undoToDefaultAddBill()" />
            </td>
        </tr>
    </table>  
}
