@model WydatkiDomoweWeb.WebUI.Models.CrudBillViewModel

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("AddBill", "CrudBill"))
{
    <table class="table table-condensed table-addbill">
        <tr>
            <td>
                @Html.DropDownListFor(m => m.SelectedBillNameId, new SelectList(Model.Bills, "Id", "Name"), "Wybierz rachunek", new { @class = "form-control", id = "selectBill" })
                @for (int i = 0; i < Model.Bills.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Bills[i].Name)
                    @Html.HiddenFor(m => m.Bills[i].Id)
                    @Html.HiddenFor(m => m.Bills[i].Date, new { id = Model.Bills[i].Id })
                    }
                @Html.ValidationMessageFor(m => m.SelectedBillNameId)
            </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedRecipientId, new SelectList(Model.Recipients, "Value", "Text"), "Wybierz odbiorcę", new { @class = "form-control" })
                @for (int i = 0; i < Model.Recipients.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Recipients[i].Text)
                    @Html.HiddenFor(m => m.Recipients[i].Value)
                    }
                @Html.ValidationMessageFor(m => m.SelectedRecipientId)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Amount, "Kwota", new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.Amount)
            </td>
            <td>
                @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", id = "datetimepicker", Value = "Data wpłaty" })
                @Html.ValidationMessageFor(m => m.PaymentDate)
            </td>
            <td>
                @Html.TextBoxFor(m => m.RequiredDate, new { @class = "form-control", id = "requiredDate", Value = "Termin zapłaty" })
            </td>
            <td>
                <input class="btn btn-primary" type="submit" name="save" value="Zapisz" />
                @Ajax.ActionLink("Anuluj", "AddBill", "CrudBill", null, new AjaxOptions() { UpdateTargetId = "addBill", HttpMethod = "Get", OnSuccess = "refreshAddBill"}, new { @class = "btn btn-primary" })
            </td>
        </tr>
    </table>  
}
