@model WydatkiDomoweWeb.WebUI.Models.CrudBillViewModel

<p></p>
@using (Html.BeginForm("AddBill", "CrudBill", FormMethod.Post, new { @class = "form-inline"}))
{
    <div class="form-group form-group-sm">
        @Html.DropDownListFor(m => m.SelectedBillNameId, new SelectList(Model.Bills, "Id", "Name"), "Wybierz rachunek", new { @class = "form-control", id = "selectBill" })
        @for (int i = 0; i < Model.Bills.Count(); i++)
        {
            @Html.HiddenFor(m => m.Bills[i].Name)
            @Html.HiddenFor(m => m.Bills[i].Id)
            @Html.HiddenFor(m => m.Bills[i].Date, new { id = Model.Bills[i].Id })
        }
    </div>

     <div class="form-group form-group-sm">
        @Html.DropDownListFor(m => m.SelectedRecipientId, new SelectList(Model.Recipients, "Value", "Text"), "Wybierz odbiorcę", new { @class = "form-control" })
        @for (int i = 0; i < Model.Recipients.Count(); i++)
        {
            @Html.HiddenFor(m => m.Recipients[i].Text)
            @Html.HiddenFor(m => m.Recipients[i].Value)
        }
    </div>

    <div class="form-group form-group-sm">
        @Html.TextBoxFor(m => m.Amount, "Kwota", new { @class = "form-control" })

    </div>

    <div style="position:relative" class="form-group form-group-sm">   
        @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", id = "datetimepicker", Value = "Data wpłaty" })  
    </div>

    <div class="form-group form-group-sm">
        @Html.TextBoxFor(m => m.RequiredDate, new { @class = "form-control", id = "requiredDate", Value = "Termin zapłaty" })
    </div>

    <div class="form-group form-group-sm">
        <input class="btn btn-primary" type="submit" name="save" value="Zapisz" />
        <input class="btn btn-primary" type="submit" name="cancel" value="Anuluj" />
    </div>        
}
