@model WydatkiDomoweWeb.WebUI.Models.EditBillViewModel

<table><tr><td>
@using (Html.BeginForm("EditBill", "CrudBill", FormMethod.Post, new { @class = "form-inline"}))
{
        @Html.HiddenFor(m => m.BillId)
        @Html.HiddenFor(m => m.SelectedBillNameId)
        @Html.DisplayFor(m => m.BillName)


     
        @Html.DropDownListFor(m => m.SelectedRecipientId, new SelectList(Model.Recipients, "Value", "Text"), "Wybierz odbiorcę", new { @class = "form-control" })
    for (int i = 0; i < Model.Recipients.Count(); i++)
    {
            @Html.HiddenFor(m => m.Recipients[i].Text)
            @Html.HiddenFor(m => m.Recipients[i].Value)
    }
   

    
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })

        @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", id = "datetimepickerEdit" })  

        @Html.HiddenFor(m => m.RequiredDate)
        @Html.DisplayFor(m => m.RequiredDate)

        <input class="btn btn-primary btn-xs" type="submit" name="save" value="Zapisz"/>
        <input class="btn btn-primary btn-xs" type="submit" name="cancel" value="Anuluj"/>
 
}
</td></tr></table>
