@model WydatkiDomoweWeb.WebUI.Models.CrudBillViewModel

<div class="panel-body">
    <div class="well well-sm">
        <h4>Edycja rachunku</h4>
    </div>
    @using (Html.BeginForm("EditBill", "CrudBill", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.Label("Rachunek:", new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.HiddenFor(m => m.BillId)
                @Html.HiddenFor(m => m.SelectedBillNameId)
                @Html.TextBoxFor(m => m.BillName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Odbiorca:", new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.SelectedRecipientId, new SelectList(Model.Recipients, "Value", "Text"), "Wybierz odbiorcę", new { @class = "form-control" })
                @for (int i = 0; i < Model.Recipients.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Recipients[i].Text)
                    @Html.HiddenFor(m => m.Recipients[i].Value)
                }
            </div>
        </div>
   

        <div class="form-group">
            @Html.Label("Kwota:", new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Data wpłaty:", new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", id = "datetimepickerEdit" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Termin zapłaty:", new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.RequiredDate, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="well well-sm">
            <input class="btn btn-primary" type="submit" name="save" value="Zapisz" />
            <input class="btn btn-primary" type="submit" name="cancel" value="Anuluj" />
        </div>
    }
</div>
