@model WydatkiDomoweWeb.WebUI.Models.BillsNamesViewModel

@if (TempData["ChangedBillName"] != null) 
{
    <div class="alert alert-success">@TempData["ChangedBillName"]</div>
}
 <table class="table table-striped table-condensed table-bordered table-getbill">
    <tr>
        <th class="col-md-2">Rachunek</th>
        <th class="col-md-2">Termin pierwszej wpłaty</th>
        <th class="col-md-1">Częstotliwość wpłat</th>
        <th class="col-md-1">Akcja</th>
    </tr>


    @foreach (var billName in Model.BillsNames)
    {
        <tr>
            <td>@Html.DisplayFor(m => billName.Name)
            </td>
            <td>@Html.DisplayFor(m => billName.FirstPaymentDate)
            </td>
            <td>@Html.DisplayFor(m => billName.PaymentsFerquency)
            </td>
            <td class="form-inline">
                @using (Ajax.BeginForm("EditBillName", "CrudBillsNames", null, new AjaxOptions { UpdateTargetId = "addBill", HttpMethod = "Get", OnSuccess = "setDefaultDateTimePicker('firstPaymentDate')" }, new { @class = "form-group" }))
                {
                    @Html.Hidden("BillNameId", billName.BillNameId)
                    <input class="btn btn-default btn-xs" type="submit" value="Edytuj" />
                }
                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#@("modal" + billName.BillNameId)">Usuń</button>
                <div id="@("modal" + billName.BillNameId)" class="modal fade" role="dialog">
                    @Html.Partial("DeleteBillNameDialog", billName)
                </div>
            </td>
        </tr>
    }
</table>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetBillsNames", new { page = x }), new AjaxOptions { UpdateTargetId = "billsNamesTable" })
</div>



